spring:
  application:
    name: plat-base
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/css_plat_v1?useUnicode=true&characterEncoding=UTF8&serverTimezone=Asia/Shanghai
    username: root
    password: 020306
server:
  port: 8001
  servlet:
    context-path: /platbase
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  global-config:
    db-config:
      id-type: auto
##mybaties显示sql
logging:
  level:
    com:
      css:
        platbase:
          moudles: debug
